# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter_settings.json

# Android related
**/local.properties
**/GeneratedPluginRegistrant.java
**/GeneratedPluginRegistrant.kt
**/GeneratedPluginRegistrant.*
**/app/**/*.iml

# iOS related
**/Pods/
**/Podfile.lock
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/Generated.xcconfig
**/Runner/GeneratedPluginRegistrant.*

# VS Code
.vscode/

# macOS
.DS_Store
